{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}
                    <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post"></form>

                    <div class="form-label-group">


                        <label for="inputEmail">{{ 'security.login.username'|trans }}</label>
                        <input type="text" autofocus id="inputEmail" class="form-control" placeholder="Email address"
                            name="_username" value="{{ last_username }}" required="required" autocomplete="username" />

                    </div>

                    <div class="form-label-group">

                        <label for="inputPassword">{{ 'security.login.password'|trans }}</label>
                        <input type="password" id="inputPassword" name="_password" required="required"
                            class="form-control" placeholder="Password" autocomplete="current-password" />
                    </div>

                    <div class="custom-control custom-checkbox mb-3">
                       

                        <input type="checkbox" class="custom-control-input" id="customCheck1" name="_remember_me"
                            value="on" />
                        <label class="custom-control-label"
                            for="customCheck1">{{ 'security.login.remember_me'|trans }}</label>

                    </div>

                    <input class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" id="_submit"
                        name="_submit" value="{{ 'security.login.submit'|trans }}" />
                    <hr class="my-4">
                    <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i
                            class="fab fa-google mr-2"></i> Sign in with Google</button>
                    <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i
                            class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>